@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Prompt', sans-serif;
}
body { background-color: black;
}
.navbar {
    display: flex;
    padding: 10px 20px;
    background-color: rgba(88, 88, 88, 0.8);
}
ul {
    flex: 1px;
    justify-content: center;
}
li {
    display: inline-block;
    font-size: 40px;
    color: azure;
    padding: 0px 2px;
    display: flex;
    justify-content: center;
}
.icon-menu {
    font-size: 60px;
    padding: 0%;
    margin: 0%;
    color: azure;
}
.logo {
    background-color: rgb(39, 16, 165);
    width: 65px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
}
